---
import { Image } from "astro:assets";

const convertDate = (dateString) => {
	if (!dateString) {
		return dateString;
	} else {
		let date = new Date(dateString);
		return date.toLocaleString("default", {
			month: "long",
			year: "numeric"
		});
	}
};

const projects = [
    {
        name: "Lamastar Lodge",
        description: "A static site, made in Astro, for a holiday lodge in Devon",
        started: "2024-03",
        image: await import("../assets/projects/screenshots/lamastar.png"),
        button: ["Website", "https://lamastarlodge.uk"],
    },
    {
        name: "Samuel Boik",
        description: "A multi-page portfolio for a graphic designer, made in Vue.js",
        started: "2024-01",
        image: await import("../assets/projects/screenshots/samuelboik.png"),
        button: ["Website", "https://samuelboik.com"],
    },
    {
        name: "Lynx",
        description: "A URL shortener complete with bulk url management, accounts and a simple but effective design",
        started: "2022-12",
        image: await import("../assets/projects/screenshots/lynx.png"),
        button: ["Website", "https://getlynx.dev"],
    },
    {
        name: "ScriptUNC",
        description: "A sleek, modern site for a programming naming convention",
        started: "2022-04",
        image: await import("../assets/projects/screenshots/scriptunc.png"),
        button: ["Website", "https://scriptunc.vercel.app/"],
    },
    {
        name: "NexusPIPE",
        description: "A landing page for a DDoS mitigation service",
        started: "2022-03",
        image: await import("../assets/projects/screenshots/nexuspipe-landing.png"),
        button: ["Website", "https://nexus-landing.vercel.app/"],
    },
    {
        name: "Cryptic",
        description: "A full-stack marketplace for digital goods",
        started: "2022-01",
        image: await import("../assets/projects/screenshots/cryptic.png"),
        button: ["Website", "https://web.archive.org/web/20220126172114/https://cryptic.rip/"],
    },
    {
        name: "Script-Ware Software",
        description: "A landing page for a software company with payment integration",
        started: "2021-10",
        image: await import("../assets/projects/screenshots/script-ware.png"),
        button: ["Website", "https://scriptware-prerelease.vercel.app/v2"],
    },
].map((project) => {
	return {
		...project,
		startedString: convertDate(project.started)
	}
});
---

<div class="projects">
    {
        projects.map((project, index) => (
            <div class="project">
                <div class="project-content">
                    <div class="project-details">
                        <h3>{project.name}</h3>
                        { project.description && <p>{project.description}</p> }
                        { 
                            project.button && 
                            <a href={project.button[1]} target="_blank" rel="noopener">
                                {project.button[0]}
                            </a>
                        }
                    </div>
                    <Image
                      src={project.image.default}
                      alt={project.name}
                      loading="lazy"
                      widths={[640, 450]}
                      sizes={`(max-width: 768px) 640px, 450px`}
                    />
                </div>
                <p>{project.startedString}</p>
            </div>
        ))
    }
</div>


<style lang="scss">
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    .project {
        position: relative;
        .project-content {
            position: relative;
            width: 100%;
            .project-details {
                position: absolute;
                bottom: 0.35rem;
                left: 0;
                width: 100%;
                height: calc(100% - 0.35rem);
                box-sizing: border-box;
                background-color: var(--accent);
                color: var(--accent-foreground);
                border-radius: 0.35rem;
                text-align: center;
                max-height: 0;
                overflow: hidden;
                padding: 0 1rem;
                transition: 150ms ease;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                h3 {
                    margin: 0;
                    font-size: 1.5rem;
                }

                p {
                    margin: 0;
                }
                
                a {
                    text-decoration: none;
                    border: 1px solid var(--accent-foreground);
                    color: var(--accent-foreground);
                    padding: 0.25em 1em;
                    border-radius: 100vh;
                    font-size: 1rem;
                    transition: 150ms ease-in-out;
                    &:hover {
                        background-color: var(--accent-foreground);
                        color: var(--accent);
                    }
                }

            }
            img {
                width: 100%;
                height: auto;
                border-radius: 0.35rem;
                aspect-ratio: 16 / 9;
                border: 0.25rem solid var(--accent);
                box-sizing: border-box;
                object-fit: cover;
            }
        }
        &:hover,
        &:focus-within {
            .project-content .project-details {
                max-height: 100vh;
                padding: 1rem 1rem 1.5rem 1rem;
            }
        }
        > p {
            position: absolute;
            bottom: 0.5em;
            left: 50%;
            transform: translate(-50%, 50%);
            margin: 0;
            border-radius: 100vh;
            background-color: var(--accent);
            color: var(--accent-foreground);
            padding: 0.5em 1em;
            font-weight: 600;
            text-align: center;
        }
    }
}
</style>