---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title, description, metaImage, footerBackground } = Astro.props;
let pathname = new URL(Astro.request.url).pathname;
if (pathname.startsWith("/")) {
    pathname = pathname.slice(1);
}
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title ? `${title} | Jack Bailey` : "Jack Bailey"}</title>
    <meta content={title ? `${title} | Jack Bailey` : "Jack Bailey"} property="og:title" />

    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=poppins:600,700,800|quicksand:400,500,600&display=swap" rel="stylesheet" />

    { description && <meta content={description} name="description" /> }
    { description && <meta content={description} property="og:description" /> }

    <meta content={Astro.site + pathname} property="og:url" />
    { metaImage && <meta content={Astro.site + metaImage} property="og:image" /> }
    { metaImage && <meta name="twitter:card" content="summary_large_image"/> }
    
    <meta content="#5b42f5" data-react-helmet="true" name="theme-color" />
</head>
<body>
    <Header/>
    <slot />
    <Footer background={footerBackground} />
</body>
</html>